
.container {
    width: calc(100% - 200px);
    padding: 5% 0%;
    margin: auto;
}

.one, .two_even, .two_big, .three, .four {
    padding: 0px 10px;
    margin: auto;
}

.one {
    width: calc(100% - 20px);
}

.two_even {
    width: calc(50% - 20px);
}

.two_big {
    width: calc(66% - 20px);
}

.three {
    width: calc(33% - 20px);
}

.four {
    width: 25%;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.gray {
    background: #414141;
}

.light_gray {
    background: #dcdbd6;
}