
.full_width {
    width: 100%;
}
.container {
    width: calc(100% - 200px);
    padding: 5% 0%;
    margin: auto;
}

.padding {
    padding: 2% 0%;
}

.one, .one_small, .two_even, .two_big, .three, .four {
    padding: 0px 10px;
    margin: auto;
}

.one {
    width: calc(100% - 20px);
}

.one_small {
    width: calc(80% - 20px);
}

.two_even {
    width: calc(50% - 20px);
}

.two_big {
    width: calc(66% - 20px);
}

.three {
    width: calc(33% - 20px);
}

.four {
    width: 25%;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

