{% extends 'base.html' %}


{% block content %}
<section class="landing">
    <article class="landing_logo">
       {#  <h1 class="heading">Big ol' Logo</h1> #}
    </article>
    <article class="landing_arrow">
        <i class="fas fa-chevron-down fa-3x"></i>
    </article>
</section>

<section class="container clearfix">
    <article class="two_even left">
        <h2 class="heading text_center">Welcome</h2>
        <p>You've heard of something borrowed and something blue, now it's time for something modern.</p>
    </article>
    <article class="two_even right">
        <img src="http://placehold.it/500x300/1f1f1f" >
    </article>
</section>
<section class="container clearfix">
    <article class="one">
        <section class="two_big">
        <h3 class="marble_header sub_heading">Benefits of having a website</h3>
    </section>
    </article>
    <article class="three left text_center">
        icon   
    </article>
    <article class="three left text_center">
        icon
    </article>
    <article class="three left text_center">
        icon
    </article>
</section>
<section class="container clearfix">
    <article class="two_even left">
        <ul>
            <li>List item one</li>
            <li>List item two</li>
            <li>List item three</li>
        </ul>

    </article>
    <article class="two_even right">
        Why me?
    </article>
</section>
<section class="light_gray">
    <h3 class="sub_heading">Your wedding isn't a template, your website shouldn't be either</h3>
</section>
{% endblock %}