{% extends 'base.html' %}


{% block content %}
<section class="landing">
    <article class="landing_logo">
       {#  <h1 class="heading">Big ol' Logo</h1> #}
    </article>
    <article class="landing_arrow">
        <i class="fas fa-chevron-down fa-3x"></i>
    </article>
</section>

<section class="container clearfix">
    <article class="two_even left">
        <h2 class="page_heading text_center">Welcome</h2>
        <section class="one_small">
        <p>You've heard of something borrowed and something blue, now it's time for something modern.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
    </section>
    </article>
    <article class="two_even right">
        <img src="http://placehold.it/500x300/1f1f1f" >
    </article>
</section>
<section class="light_gray padding">
    <h3 class="sub_heading text_center">Your wedding isn't a template, your website shouldn't be either</h3>
</section>
<section class="container clearfix">
    <article class="one">
        <section class="one_small">
        <h3 class="marble_header heading">Benefits of wedding websites</h3>
    </section>
    </article>
    <article class="three left text_center">
        Easy access to info   
    </article>
    <article class="three left text_center">
        Tell your story
    </article>
    <article class="three left text_center">
        Updateable
    </article>
    <article class="three left text_center">
        Style invites  
    </article>
    <article class="three left text_center">
        Share photos
    </article>
    <article class="three left text_center">
        One-stop
    </article>
</section>
<section class="container clearfix">
    <article class="two_even left">
        <ul>
            <li>List item one</li>
            <li>List item two</li>
            <li>List item three</li>
        </ul>

    </article>
    <article class="two_even right">
        Why me?
    </article>
</section>

<section class="pink">
    <article class="container clearfix">
        <section class="one text_center">
    <h3 class="heading padding">Where invitations meet websites</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
        </section>
        
    </article>

    </section>

<section class="padding">
    <h3 class="page_heading text_center">Packages</h3>
</section>
<section class="container clearfix">
    <article class="two_even left">
        <h2 class="sub_heading text_center padding">Basic</h2>
        <section class="one_small">
        <p>You've heard of something borrowed and something blue, now it's time for something modern.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
    </section>
    </article>
    <article class="two_even right">
        <img src="http://placehold.it/500x300/1f1f1f" >
    </article>
</section>
<section class="container clearfix">
    <article class="two_even right">
        <h2 class="sub_heading text_center padding">Standard</h2>
        <section class="one_small">
        <p>You've heard of something borrowed and something blue, now it's time for something modern.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
    </section>
    </article>
    <article class="two_even left">
        <img src="http://placehold.it/500x300/1f1f1f" >
    </article>
</section>
<section class="container clearfix">
    <article class="two_even left">
        <h2 class="sub_heading text_center padding">Premium</h2>
        <section class="one_small">
        <p>You've heard of something borrowed and something blue, now it's time for something modern.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
    </section>
    </article>
    <article class="two_even right">
        <img src="http://placehold.it/500x300/1f1f1f" >
    </article>
</section>
<section class="container clearfix">
    <article class="one marble_two">
        
    </article>
        <h3 class="heading text_center marble_two_text">What's included</h3>
        <article class="four left text_center">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
        </article>
        <article class="four left text_center">
            Log in 
        </article>
        <article class="four left text_center">
            Fully Responsive
        </article>
        <article class="four left text_center">
            Continued maintenance
        </article>
</section>
<section class="container clearfix">
<article class="one left text_center">
           
        <h3 class="heading">Prices</h3>
        </article>
        <article class="three left text_center">
            one
        </article>
        <article class="three left text_center light_gray">
            two
        </article>
        <article class="three left text_center">
            three
        </article>
        
</section>
{% endblock %}