{% extends 'base.html' %}


{% block content %}
<section class="landing">
    <article class="landing_logo">
       {#  <h1 class="heading">Big ol' Logo</h1> #}
    </article>
    <article class="landing_arrow">
        <i class="fas fa-chevron-down fa-3x"></i>
    </article>
</section>

<section class="container clearfix">
    <article class="two_even left">
        <h2 class="page_heading text_center padding">Welcome</h2>
        <section class="one_small">
            <p>This is the introduction.</p>
            <p>You've heard of something borrowed and something blue, now it's time for something modern.</p>
            <p>Owned and operated by me... ... I design and develop unique and personalized wedding we</p>
        </section>
    </article>
    <article class="two_even right">
        <img src="http://placehold.it/500x300/1f1f1f" >
    </article>
</section>

<section class="light_gray">
    <article class="container clearfix">
        <section class="three">
            <h3 class="sub_heading text_left">Your wedding isn't a template</h3>
        </section>
        <section class="three">
            <h3 class="sub_heading text_right">your website shouldn't be either</h3>
        </section>
    </article>
</section>

<section class="container clearfix">
    <article class="one">
        <section class="one_small">
            <h3 class="marble_header heading">How I can help</h3>
            <article class="two_even left">
                <p>With countless do-it-yourself websites builders available today, the process can quickly becoming overwheleming, especially when you already have a wedding to plan.</p>   
            </article>
            <article class="two_even right">
                <ul>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                </ul>  
            </article>
        </section>
    </article>
</section>

<section class="pink">
    <article class="container clearfix">
        <section class="one text_center">
            <h3 class="heading padding">Where invitations meet websites</h3>
            <p>Opening to the different packages and how they fit in with invitations.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
        </section>
        <section class="three left text_center">
            <p>Clipboard icon</p>
            <h3 class="sub_heading padding">All the Details</h3>
            <p>Give your guests all the details in one place without the worry of lost invitations.</p>
        </section>
        <section class="three left text_center">
            <p>Location icon</p>
            <h3 class="sub_heading padding">Out of Town Guests</h3>
            <p>Provide travel information and fun activities in the area for guests coming in from out of town.</p>
        </section>
        <section class="three left text_center">
            <p>Heart icon</p>
            <h3 class="sub_heading padding">Personal Touches</h3>
            <p>Stuff.</p>
        </section>
    </article>
</section>

<section class="padding">
    <h3 class="page_heading text_center">Packages</h3>
</section>

<section class="container clearfix">
    <article class="two_even left">
        <h2 class="sub_heading text_center padding">Basic</h2>
        <section class="one_small">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
            <ul>
                <li>Countdown</li>
                <li>Registry Links</li>
                <li>Dates and Locations</li>
                <li>Your Story</li>
                <li>Accomidations/FAQs</li>
            </ul>
            <a href="#" class="link"> Read more <i class="fas fa-angle-right"></i></a>
        </section>
    </article>
    <article class="two_even right">
        <img src="http://placehold.it/500x300/1f1f1f" >
    </article>
</section>

<section class="container clearfix">
    <article class="two_even right">
        <h2 class="sub_heading text_center padding">Standard</h2>
        <section class="one_small">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
            <ul>
                <li>Personal Domain</li>
                <li>Photo Album</li>
                <li>Venue Information</li>
                <li>Your Story</li>
                <li>Plus, Additional Page</li>
            </ul>
            <a href="{{ url_for('standard') }}" class="link"> Read more <i class="fas fa-angle-right"></i></a>
        </section>
    </article>
    <article class="two_even left">
        <img src="http://placehold.it/500x300/1f1f1f" >
    </article>
</section>

<section class="container clearfix">
    <article class="two_even left">
        <h2 class="sub_heading text_center padding">Premium</h2>
        <section class="one_small">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
            <ul>
                <li>Personal Domain</li>
                <li>Advanced RSVP</li>
                <li>Different Views</li>
                <li>Additional Database Storage</li>
                <li>and more...</li>
            </ul>
        </section>
    </article>
    <article class="two_even right">
        <img src="http://placehold.it/500x300/1f1f1f" >
    </article>
</section>

<section class="light_gray">
    <article class="container clearfix how_it_works">
        <h3 class="heading">How it works</h3>
        <section class="three left">
            <h4 class="heading text_white">1.</h4>
            <h5 class="sub_heading padding">Consult + Plan</h5>
        </section>
        <section class="three left">
            <h5 class="sub_heading padding">Design + Feedback</h5>
        </section>
        <section class="three left">
            <h5 class="sub_heading padding">Develop + Launch</h5>
        </section>
        <a href="{{ url_for('standard') }}" class="link"> Read more <i class="fas fa-angle-right"></i></a>
    </article>      
</section>

<section class="container clearfix">
    <article class="one marble_two">     
    </article>
    <h3 class="heading text_center marble_two_text">What's included</h3>
    <article class="four left text_center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
    </article>
    <article class="four left text_center">
        <p>Password icon</p>
        Log in 
    </article>
    <article class="four left text_center">
        <p>Responsive icon</p>
        Fully Responsive
    </article>
    <article class="four left text_center">
        <p>Wrench icon</p>
        Continued maintenance
    </article>
</section>

<section class="container clearfix">
    <article class="one_small padding text_center">
        <h3 class="page_heading">Prices</h3>
    </article>
    <article class="one_small">
        <section class="tab_buttons text_center">
            <ul>
                <li class="active_tab">Basic</li>
                <li>Standard</li>
                <li>Premium</li>
            </ul>
        </section>
        <section class="tab_content container">
            <article class="two_even left">
                <h4 class="heading">Basic Package</h4>
            </article>
            <article class="two_even light_gray right">
                <p>Free</p>
            </article>
        </section>
        <section class="tab_content container pricing">
            <article class="two_big left text_center">
                <h5 class="sub_heading">Consultation</h5>
            </article>
            <article class="three right">
                <p>Free</p>
            </article>
        </section>
        <section class="tab_content container pricing">
            <article class="two_big left">
                <p>Design</p>
            </article>
            <article class="three light_gray right">
                <p>$100</p>
            </article>
        </section>
        <section class="tab_content container pricing">
            <article class="two_big left">
                <p>Development</p>
            </article>
            <article class="three light_gray right">
                <p>$200</p>
            </article>
        </section>
        <section class="tab_content container pricing">
            <article class="two_big left">
                <p>Total</p>
            </article>
            <article class="three light_gray right">
                <p>$300</p>
            </article>
        </section>
    </article>     
</section>

{% endblock %}