{% extends 'base.html' %}


{% block content %}
<section class="pink">
    <h3 class="heading text_center padding">Where invitations meet websites</h3>
    <article class="container clearfix">
        <section class="three left">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
        </section>
        <section class="two_big left slides">

            <article class="slideshow clearfix" id="1">
                <section class="left slide_icon text_center">
                    <i class="fas fa-angle-left fa-3x" id="slide_left"></i>
                </section>
                <section class="left slide_text">
                    <div class="percent_bar">
                        <div class="invite_percent seventy_five">
                        </div>
                        {# <div class="web_percent twenty_five">
                        </div> #}
                    </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
            </section>
            <section class="right slide_icon text_center">
                 <i class="fas fa-angle-right fa-3x" id="slide_right"></i>
            </section>
            </article>
            <article class="slideshow" id="2">
                two
            </article>
            <article class="slideshow" id="3">
                three
            </article>
            <article class="right">
           
        </article>
        </section>
    </article>

    </section>

<section class="padding">
    <h3 class="page_heading text_center">Services</h3>
</section>
<section class="container clearfix">
    <article class="two_even left">
        <h2 class="heading text_center">One</h2>
        <section class="one_small">
        <p>You've heard of something borrowed and something blue, now it's time for something modern.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
    </section>
    </article>
    <article class="two_even right">
        <img src="http://placehold.it/500x300/1f1f1f" >
    </article>
</section>
<section class="container clearfix">
    <article class="two_even right">
        <h2 class="heading text_center">Two</h2>
        <p>You've heard of something borrowed and something blue, now it's time for something modern.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
    </article>
    <article class="two_even left">
        <img src="http://placehold.it/500x300/1f1f1f" >
    </article>
</section>
<section class="container clearfix">
    <article class="two_even left">
        <h2 class="heading text_center">Three</h2>
        <p>You've heard of something borrowed and something blue, now it's time for something modern.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
    </article>
    <article class="two_even right">
        <img src="http://placehold.it/500x300/1f1f1f" >
    </article>
</section>
{% endblock %}