{% extends 'base.html' %}


{% block content %}
<section class="clearfix full_width">
    <article class="four left marble_three">    
    </article>
    <article class="two_big left">
        <section class="one_small">
            <article class="container text_center">
                <h1 class="page_heading">The Process</h1>
            </article>
        </section>
        <section class="one_small border_left_pink">
            <h2 class="heading">Consultation</h2>
            <h3 class="sub_heading">Planning and preparation</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
            <h2 class="heading">Phase One</h2>
            <h3 class="sub_heading">Design</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
            <h3 class="sub_heading">Revisions</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
            <h2 class="heading">Phase Two</h2>
            <h3 class="sub_heading">Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
            <h3 class="sub_heading">Revisions</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
        </section>
    </article>
</section>
{% endblock %}