{% extends 'base.html' %}


{% block content %}


<section class="container">
    <h1 class="page_heading">Standard Package</h1>
    <h2 class="sub_heading">Something</h2>
    <section class="one_small clearfix">
    <article class="two_even left">
        <h2 class="heading">Something</h2>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit egestas eros eu dapibus. Nunc eget eros nisl. Nullam scelerisque ipsum vitae quam rutrum iaculis. Nunc nec facilisis ipsum.</p>
        
    </article>
    <article class="two_even right light_gray">
        <h2 class="heading">Features</h2>
        <ul>
                <li>Date</li>
                <li>Time + Location
                    <ul>
                        <li>Ceremony</li>
                        <li>Cocktail Hour</li>
                        <li>Reception</li>
                    </ul></li>
                <li><i class="fas fa-plus"></i> Dress Code</li>
                <li><i class="fas fa-plus"></i> Parking</li>
                <li><i class="fas fa-plus"></i> Weather</li>
            </ul>
    </article>
</section>
</section>


<section class="container clearfix">
    <article class="one_small padding text_center">
        <h3 class="page_heading">Included Pages</h3>
    </article>
    <article class="one_small">
        <section class="tab_buttons text_center">
            <ul>
                <li class="active_tab">Home</li>
                <li>The Wedding</li>
                <li>Registry</li>
                <li>Photo Album</li>
            </ul>
        </section>
       
        <section class="tab_content container">
            <article class="two_even left">
                <img src="http://placehold.it/300x300/1f1f1f" >
            </article>
            <article class="two_even right">
                <p>Free</p>
            </article>
        </section>
        
            </article>
        </section>


<section class="full_width light_gray">
    <article class="clearfix container">
        <section class="two_even left">
            one
        </section>
        <section class="two_even left">
            two
        </section>
    </article>
    </section>
<section class="clearfix container">
    <h1 class="page_heading">Pages</h1>
    <article class="one_small clearfix">
        <h2 class="marble_header heading">The Wedding</h2>
        <section class="two_even left">
            <img src="http://placehold.it/300x200/1f1f1f" >
        </section>
        <section class="two_even right">
            <h3 class="sub_heading">All-in-One Wedding Details</h3>
            <ul>
                <li>Date</li>
                <li>Time + Location
                    <ul>
                        <li>Ceremony</li>
                        <li>Cocktail Hour</li>
                        <li>Reception</li>
                    </ul></li>
                <li><i class="fas fa-plus"></i> Dress Code</li>
                <li><i class="fas fa-plus"></i> Parking</li>
                <li><i class="fas fa-plus"></i> Weather</li>
            </ul>
        </section>
    </article>

    <article class="one_small clearfix">
        <h2 class="marble_header heading">Your Story</h2>
        <section class="two_even left">
            <img src="http://placehold.it/300x200/1f1f1f" >
        </section>
        <section class="two_even right">
            <h3 class="sub_heading">Something</h3>
            <ul>
                <li>How you met</li>
                <li>First date</li>
                <li>Proposal</li>
                <li>Random facts</li>
            </ul>
            </section>     
    </article>

    <article class="one_small clearfix">
        <h2 class="marble_header heading">Registry</h2>
        <section class="two_even left">
            <img src="http://placehold.it/300x200/1f1f1f" >
        </section>
        <section class="two_even right">
            <h3 class="sub_heading">Stuff</h3>
            <ul>
                <li>Stuff</li>
            </ul>
            </section> 
        
    </article>

    <article class="one_small clearfix">
        <h2 class="marble_header heading">Photo Album</h2>
        <section class="two_even left">
            <img src="http://placehold.it/300x200/1f1f1f" >
        </section>
        <section class="two_even right">
            <h3 class="sub_heading">Photos</h3>
            <ul>
                <li>Stuff</li>
            </ul>
            </section> 
        
    </article>

    <article class="one_small clearfix">
        <h2 class="marble_header heading">Schedule</h2>
        <section class="two_even left">
            <img src="http://placehold.it/300x200/1f1f1f" >
        </section>
        <section class="two_even right">
            <h3 class="sub_heading">Timeline For the Big Day</h3>
            <ul>
                <li>Ceremony</li>
                <li>Cocktail Hour</li>
                <li>Dinner</li>
                <li>Toasts</li>
                <li>Cake cutting</li>
                <li>Dancing</li>
                <li><i class="fas fa-plus"></i> Arrival/Seating begins</li>
                <li><i class="fas fa-plus"></i> Estimated Traveling time</li>
                <li><i class="fas fa-plus"></i> Shuttles or arranged transportation</li>
            </ul>
            </section> 
        
    </article>
    <article class="one_small clearfix">
        <h2 class="marble_header heading">Events</h2>
        <section class="two_even left">
            <img src="http://placehold.it/300x200/1f1f1f" >
        </section>
        <section class="two_even right">
            <h3 class="sub_heading">Something</h3>
            <ul>
                <li>Rehearsal dinner</li>
                <li>Brunch</li>
                <li><i class="fas fa-plus"></i> Dress code</li>
            </ul>
            </section> 
        
    </article>

    

    <article class="one_small clearfix">
        <h2 class="marble_header heading">Wedding Party</h2>
        <section class="two_even left">
            <img src="http://placehold.it/300x200/1f1f1f" >
        </section>
        <section class="two_even right">
            <h3 class="sub_heading">Something</h3>
            <ul>
                <li>Names</li>
                <li>Pictures</li>
                <li>Description</li>
                <li><i class="fas fa-plus"></i> How you met</li>
                <li><i class="fas fa-plus"></i> Random facts</li>
            </ul>
            </section> 
        
    </article>
    

     <article class="one_small clearfix">
        <h2 class="marble_header heading">Venue</h2>
        <section class="two_even left">
            <img src="http://placehold.it/300x200/1f1f1f" >
        </section>
        <section class="two_even right">
            <h3 class="sub_heading">Something</h3>
            <ul>
                <li>Name</li>
                <li>Location</li>
                <li>Description</li>
            </ul>
            </section> 
        
    </article>

    <article class="one_small clearfix">
        <h2 class="marble_header heading">Travel</h2>
        <section class="two_even left">
            <img src="http://placehold.it/300x200/1f1f1f" >
        </section>
        <section class="two_even right">
            <h3 class="sub_heading">Help out of town guests</h3>
            <ul>
                <li>Airports</li>
                <li>Transportation</li>
                <li>Hotels</li>
                <li>Accomidations</li>
            </ul>
            </section> 
        
    </article>

    <article class="one_small clearfix">
        <h2 class="marble_header heading">The Area</h2>
        <section class="two_even left">
            <img src="http://placehold.it/300x200/1f1f1f" >
        </section>
        <section class="two_even right">
            <h3 class="sub_heading">Things to do or visit stuff</h3>
            <ul>
                <li>Restaurants</li>
                <li>Sites</li>
                <li>Activites</li>
            </ul>
            </section> 
        
    </article>

    

    <article class="one_small clearfix">
        <h2 class="marble_header heading">FAQs</h2>
        <section class="two_even left">
            <img src="http://placehold.it/300x200/1f1f1f" >
        </section>
        <section class="two_even right">
            <h3 class="sub_heading">Stuff</h3>
            <ul>
                <li>Stuff</li>
            </ul>
            </section> 
        
    </article>
</section>
{% endblock %}